# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List popular lbraries for Data Science
- List popular tools for Data Science
- Creating a table
- writing an arithmetic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scipy
4. Matplotlib
5. Tensorflow
6. Keras
7. Pytorch

|Data Science Tools|
|------------------|
|Python|
|R|
|Jupyter notebook|
|Tensorflow|
|Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [12]:
(3*4)+5

17

In [17]:
'''This will convert 200 minutes to hours by diving by 60'''
hours=200
minutes=hours//60
print(minutes)

3

##Author
Karteeka Pavan Kanadam